<?xml version="1.0"?>
<robot name="rangerX">
  <link name="base_footprint">
    <visual>
      <origin  xyz="0 0 0.7" rpy="0 0 0"/>
      <geometry>
        <cylinder length="1.4" radius="0.28"/>
      </geometry>
    </visual>
  </link>

  <link name="laser">
    <visual>
      <origin  xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.05" radius="0.025"/>
      </geometry>
    </visual>
  </link>


  <joint name="base_to_laser" type="fixed">
    <parent link="base_footprint"/>
    <child link="laser"/>
    <origin xyz="0 0 1.45" rpy="0 0 -1.57"/>
  </joint>

</robot>
