<?xml version="1.0"?>

<launch>
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find mrpt_rbpf_slam)/config/rosconsole.config"/>
  
  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="1 0 0 0 0 0 laser base_link 100"/>

  <node pkg="tf" type="static_transform_publisher" name="link2_broadcaster" args="0 0 0 0 0 0 base_link odom 100"/>

  <!--<node pkg="robot_setup_tf" type="tf_broadcaster" name="link2_broadcaster"/>-->

  <node pkg="urg_node" type="urg_node" name="urg_node"/>

  <node pkg="rviz" type="rviz" name="rviz"/>

  <node pkg="mrpt_rbpf_slam" type="mrpt_rbpf_slam" name="mrpt_rbpf_slam" output="screen">
    <param name="ini_filename" value="$(find mrpt_rbpf_slam)/tutorial/grid_slam_demo.ini"/>
    <param name="odom_frame_id" value="/odom"/>
    <param name="global_frame_id" value="/map"/>
    <param name="base_frame_id" value="/base_link"/>
    <!--for multiple sensors, place comma eg "r1/front_laser/scan,/beacon" -->
    <param name="sensor_source" value="/scan"/>
    <rosparam command="load" file="$(find mrpt_rbpf_slam)/config/default.yaml" /> 
  </node>

</launch>
