<?xml version="1.0"?>
<launch>
    <node pkg="rviz" type="rviz" name="rviz"/>
    <!--node pkg="map_server" name="map_server" type="map_server" args="$(find robot_navigation)/maps/fsde-firstfloor-03.pgm 0.050000"/-->
    <node pkg="map_server" type="map_server" name="map_server" args="$(find stage_simulation)/worlds/maps/basic_map_scanned.pgm 0.050000"/>
    <node pkg="tf" type="static_transform_publisher" name="stf_pub1" args="0 0 0 0 0 0 map global_path 100"/>
    <node pkg="tf" type="static_transform_publisher" name="stf_pub2" args="0 0 0 0 0 0 map tree 100"/>
    <node pkg="planners" type="rrtstarNode.py" name="rrtstarNode" output="screen"/>
</launch>
