<!--%Tag(FULL)%-->
<launch>
<!-- rotation_power =70 -->
	<param name="serial_port" value="/dev/ttyUSB0" />
	<param name="angular_scale" value="0.4" /> <!-- max 0.5 -->
	<param name="linear_scale" value="0.43" /> <!-- max 0.5 -->
	<param name="left_power" value="60.0" /> <!-- left power factor -->
	<param name="right_power" value="60.0" /> <!-- right power factor -->
	<param name="min_power" value="17"/> <!--19, 17 avoiding, 15 approaching-->
	<param name="acceleration_speed" value="60" /> <!-- 80 -->
	
	<!--  output="screen" -->
	<node pkg="morelab_robot_platform" type="eddie" name="eddie"/>
	<node pkg="morelab_robot_platform" type="eddie_ping" name="eddie_ping" />
	<node pkg="morelab_robot_platform" type="eddie_adc" name="eddie_adc"  />
	<node pkg="morelab_robot_platform" type="eddie_controller" name="eddie_controller" output="screen"/>
	<node pkg="morelab_robot_platform" type="eddie_teleop" name="eddie_teleop" output="screen"/>
	<node pkg="morelab_robot_platform" type="eddie_odom" name="eddie_odom"/>
	
	  
</launch>
<!--%EndTag(FULL)%-->
